@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    background-color: #1A1A1C;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    color: white;
}

/*Utility classes*/
.container{
    padding: 20px 40px;
}
.container2{
    padding: 0px 40px;
}

.item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom:15px;
    border-bottom: 2px solid #fff;
    margin-bottom:10px;
}
.coin-img{
    display: flex;
    align-items: center;
}
img{
    width:100px;
    height:100px;
}
/*CSS of section Header*/
.nav{
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.btn{
   
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
input{
    width: 60vw;
    padding: 15px;
    color: white;
    background-color: #1A1A1C;
    border: 1px solid white;
}
button{
    width: 18vw;
    padding: 15px;
    color: white;
    background-color: #1A1A1C;
    border: 1px solid white;
    cursor: pointer;
}




/* starts from here */
.item{
    display: flex;
    width:100%;
    justify-content: space-between;
}
